# adding backend idea file
Backend/myapp/env
Backend/venv/
Backend/.idea/
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/my-app/node_modules
Frontend/my-app/.pnp
Frontend/my-app/.pnp.js

# testing
Frontend/my-app/coverage

# production
Frontend/my-app/build

# misc
Frontend/my-app/.DS_Store
Frontend/my-app/.env.local
Frontend/my-app/.env.development.local
Frontend/my-app/.env.test.local
Frontend/my-app/.env.production.local

Frontend/my-app/npm-debug.log*
Frontend/my-app/yarn-debug.log*
Frontend/my-app/yarn-error.log*

